<h2 mat-dialog-title>Editar Pokemón</h2>
<mat-dialog-content class="mat-typography">
  <app-form-pokemon
    [isEdit]="isEdit"
    [fromAdmin]="fromAdmin"
    [pokemonId]="pokedex"
    (pokemonSave)="guardar($event)"
    (modalClose)="cerrar()"
  ></app-form-pokemon>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button id="cancelBtn" mat-button mat-dialog-close>Cancelar</button>
  <button
    id="saveBtn"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="objPokemon"
  >
    Guardar
  </button>
</mat-dialog-actions>
