<div class="loginPage">
  <div class="container">
    <div class="formContainer">
      <mat-card>
        <h2 class="textWhite">Reestablecer Contraseña</h2>
        <form [formGroup]="form" (submit)="getRecover(form.value)">
          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Email</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Nueva Contraseña</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              matInput
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Repetir Contraseña</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="re_password"
              matInput
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>

          <div class="buttons">
            <button mat-flat-button color="primary" [disabled]="form.invalid">
              Reestablecer
            </button>
          </div>

          <div class="message">
            <span class="error" *ngFor="let error of errors">
              <p>{{ error }}</p>
            </span>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
