<div class="loginPage">
  <div class="container">
    <div class="formContainer">
      <mat-card>
        <h2 class="textWhite">Reestablecer Contraseña</h2>
        <form [formGroup]="form">
          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Email</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Contraseña</mat-label>
            <input formControlName="password" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Repetir Contraseña</mat-label>
            <input formControlName="password" matInput />
          </mat-form-field>

          <div class="buttons">
            <button mat-flat-button color="primary" [disabled]="form.invalid">
              Reestablecer
            </button>
          </div>

          <div class="message">
            <span class="error"></span>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
