<div class="content">
  <div class="imageForm">
    <div class="imageForm-display">
      <div class="image" *ngIf="imagenBase64">
        <img [src]="imagenBase64" alt="Pokemon Img" />
      </div>
    </div>
    <div class="uploadBtn">
      <button mat-raised-button (click)="fileInput.click()">
        Seleccionar imagen
      </button>
      <input type="file" hidden #fileInput (change)="guardarImagen($event)" />
    </div>
  </div>
  <div class="contentForm">
    <div class="contentForm-data">
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Número pokedex</mat-label>
          <input formControlName="pokedex" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <input formControlName="type" matInput />
        </mat-form-field>

        <div class="buttons" *ngIf="!isEdit">
          <a mat-stroked-button color="warn" (click)="cancel()">Cancelar</a>
          <button mat-flat-button color="primary" [disabled]="form.invalid">
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
