<h2 mat-dialog-title>Editar Pokemón</h2>
<mat-dialog-content class="mat-typography">
  <app-form-pokemon
    [isEdit]="isEdit"
    [fromAdmin]="true"
    [pokemonId]="pokemonId"
    (pokemonSave)="guardarPokemon($event)"
    (modalClose)="cerrarModal()"
  ></app-form-pokemon>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close id="cancelBtn">Cancelar</button>
  <button
    id="saveBtn"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="objPokemon"
  >
    Guardar
  </button>
</mat-dialog-actions>
