<mat-card>
  <div class="code">
    <span>{{ pokemon.pokedex }}</span>
  </div>
  <mat-card-content>
    <div class="cardImg">
      <img
        [src]="
          pokemon.image != null && pokemon.image != ''
            ? pokemon.image
            : '../../../../assets/img/default.webp'
        "
        alt="Pokemon Img"
        mat-card-image
      />
    </div>
    <div class="cardInfo">
      <span class="cardInfo-title">{{ pokemon.nombre }}</span>
      <span>{{ pokemon.tipo?.nombre }}</span>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="buttons">
      <button
        class="editBtn"
        mat-mini-fab
        aria-label="Editar"
        (click)="editDialog()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="deleteBtn"
        mat-mini-fab
        aria-label="Eliminar"
        (click)="deleteDialog()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
