<div class="createBtn">
  <button mat-flat-button color="primary" (click)="openForm(false)">
    Crear
  </button>
</div>

<div class="infoTable">
  <div class="contentTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
        <td mat-cell *matCellDef="let element">
          {{ element.creationDate | date }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td class="contentLeft" mat-cell *matCellDef="let element">
          <div class="botones">
            <button
              class="editBtn"
              color="primary"
              mat-mini-fab
              aria-label="Editar"
              (click)="openForm(true)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="deleteBtn"
              color="warn"
              mat-mini-fab
              aria-label="Eliminar"
              (click)="deleteDialog()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50]"
    showFirstLastButtons
    [length]="cantidadTotalRegistros"
    [pageSize]="cantidadRegistrosAMostrar"
    class="mat-elevation-z8"
    (page)="actualizarPaginacion($event)"
  ></mat-paginator>
</div>
