.createBtn {
  text-align: end;
  padding: 5px 20px;
}

.infoTable {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contentTable {
  width: 100%;
  max-height: 55vh;
  overflow: auto;
}

table {
  width: 100%;
  max-height: 50px;
}

.contentLeft {
  text-align: left;
}

mat-icon.check {
  color: #1fdf1f;
}

mat-icon.close {
  color: #e95848;
}

.botones {
  display: flex;
  justify-content: space-around;
}
