<div class="loginPage">
  <div class="container">
    <div class="formContainer">
      <mat-card>
        <h2 class="textWhite">Iniciar sesión</h2>
        <form [formGroup]="form" (submit)="getLogin(form.value)">
          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Email</mat-label>
            <input formControlName="email" matInput />
            <mat-error>{{ getError("email") }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="textWhite">
            <mat-label class="textWhite">Contraseña</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              matInput
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error>{{ getError("password") }}</mat-error>
          </mat-form-field>

          <div class="settings">
            <a class="settings-link" (click)="getRecover()"
              >Recuperar Contraseña</a
            >
          </div>

          <div class="errors">
            {{ errors }}
          </div>

          <div class="buttons">
            <button mat-flat-button color="primary" [disabled]="form.invalid">
              Iniciar Sesión
            </button>
            <a mat-stroked-button color="accent" (click)="getRegister()"
              >Registrarse</a
            >
          </div>

          <div class="message">
            <span class="error" *ngFor="let error of errors">
              <p>{{ error }}</p>
            </span>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
