<div>
  <div class="header">
    <div class="navContent">
      <div class="menu">
        <div class="navBar">
          <ul>
            <li class="title" (click)="goHome()">Poke App</li>
            <li class="navBar-menu" (click)="goList()">Lista</li>
            <li class="navBar-menu" (click)="goCreate()">Agregar</li>
            <li *ngIf="esAdmin" class="navBar-menu" (click)="goAdmin()">
              Admin
            </li>
          </ul>
        </div>
      </div>
      <div class="user">
        <button mat-button [matMenuTriggerFor]="menu">
          Hola {{ username }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
        </mat-menu>
      </div>
    </div>
    <div class="ballBtn">
      <div class="ballBtn_inside" (click)="goCreate()"></div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
