<div>
  <div class="header">
    <div class="navContent">
      <div class="menu">
        <div class="navBar">
          <ul>
            <li class="title" (click)="goHome()">Poke App</li>
            <li class="navBar-menu" (click)="goList()">Lista</li>
            <li class="navBar-menu" (click)="goCreate()">Agregar</li>
            <li class="navBar-menu">Admin</li>
          </ul>
        </div>
      </div>
      <div class="user">
        <p>usuario</p>
      </div>
    </div>
    <div class="ballBtn">
      <div class="ballBtn_inside"></div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
