.header {
  height: 70px;
  background-color: #ff0000;
  border-bottom: #000 solid 10px;
}

.ballBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: #000 solid 7px;
  margin: auto;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ballBtn_inside {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  border: #000 solid 2px;
}

.ballBtn_inside:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.body {
  margin-top: 30px;
  height: 65%;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navBar {
  width: 70vw;
  max-width: 600px;
}

.navBar ul {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #fff;
}

.navBar li {
  cursor: pointer;
  transition: font-size 0.6s ease;
}

.navBar li:hover {
  font-size: 0.9rem;
}

.title {
  font-weight: bolder;
  font-size: 0.8rem;
  transition: font-size 0.6s ease;
}

.title:hover {
  font-size: 1.1rem !important;
}

.navBar-menu {
  font-size: 0.6rem;
}

@media (min-width: 650px) {
  .title {
    font-size: 1.3rem;
  }

  .title:hover {
    font-size: 1.8rem !important;
  }

  .navBar-menu {
    font-size: 1.1rem;
  }

  .navBar li:hover {
    font-size: 1.4rem;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 2rem;
  }

  .title:hover {
    font-size: 2.5rem !important;
  }

  .navBar-menu {
    font-size: 1rem;
  }

  .navBar li:hover {
    font-size: 1.5rem;
  }
}
