<div>
  <div class="header">
    <div class="navContent">
      <div class="menu">
        <div class="navBar">
          <ul>
            <li class="title">Poke App</li>
            <li>Lista</li>
            <li>Agregar</li>
            <li>Admin</li>
          </ul>
        </div>
      </div>
      <div class="user">
        <p>usuario</p>
      </div>
    </div>
    <div class="ballBtn">
      <div class="ballBtn_inside"></div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
